* {
  box-sizing: border-box;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.avatar{
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.avatarColumn {
float: left;
width: 30%;
}

.descColumn {
float: left;
width: 70%;
}

.mainRow {
 width: 800px;
 magin: auto;
 margin-left: auto;
 margin-right: auto;
}

.row {
 width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
	.column {
    	width: 50%;
    }

}

@media screen and (max-width: 600px) {
	.column {
    	width: 100%;
    }

    .avatarColumn {
      display: none;
    }

}
