body {
    font-size: 24px;
    font-weight: normal;
    color:#99003b	;
    background-color: #99003b ;
}

h1 {
  color:white
}

button {
  border: none;
  color: white;
  background:#CD5C5C;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
}
